h1 {
  margin: 0 auto;
  width: 800px;
  font-family: "Times New Roman";
  font-style: italic;
}

.aText {
   font-family: "Times New Roman";
}
.answers {
   width: 800px;
   margin: 0 auto;
   
}

.question {
  width: 800px;
  margin: 0 auto;
}

* {
  background: #eeeeee;
}